---
import '../styles/card.css';

const { title, description, date, category, image, slug, type } = Astro.props;
---

<a href={`/posts/${slug}`} class="card">
  <!-- 글 -->
  <div class="content">
    <h2>{title}</h2>
    <p class="detail">{description}</p>
    <div>
      <div class="bottom">
        <span class="badge">{category}</span>
        <p class="date">{date}</p>
      </div>
    </div>
  </div>
  <!-- 사진 -->
  <div class="image">
    <img src={image} alt="카드이미지" />
  </div>
</a>
