---
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';
import '../styles/cardList.css';

const allPosts = await getCollection('posts');
const { posts } = Astro.props;
---

<div>
  <div class="post-header">
    <div class="post-title">
      <h4>전체글</h4>
      <span>({posts ? posts.length : allPosts.length})</span>
    </div>
    <hr />
  </div>

  <div class="cards">
    {
      posts && posts.length > 0 ? (
        posts.map((post) => (
          <Card
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            category={post.data.category}
            image={post.data.image}
            slug={post.data.slug}
          />
        ))
      ) : allPosts && allPosts.length > 0 ? (
        allPosts.map((post) => (
          <Card
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            category={post.data.category}
            image={post.data.image}
            slug={post.data.slug}
          />
        ))
      ) : (
        <p class="empty-message">포스트가 없습니다.</p>
      )
    }
  </div>
</div>
